<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
    <link rel="stylesheet" href="fruits.css">
</head>

<body>
    <header>
        <div class="main">
            <h1>Fruits</h1>
        </div>
    </header>
        <div class="list">
            <div class="item">
                <div class="cat">
                    <img src="img/papaya.png" alt="">
                </div>
                <a href="fruits.html" id="link">Papaya</a>
                <p>50 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/pineapple.png" alt="">
                </div>
                <a href="dairy.html" id="link">Pineapple</a>
                <p>60 Rs</p>

            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/kiwi1.png" alt="">
                </div>
                <a href="cerals.html" id="link">kiwi</a>
                <p>150 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/grapes.png" alt="">
                </div>
                <a href="cerals.html" id="link">Grapes</a>
                <p>50 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/watermelon.png" alt="">
                </div>
                <a href="spices.html" id="link">watermelon</a>
                <p>20 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/apple.png" alt="">
                </div>
                <a href="grains.html" id="link">Apple</a>
                <p>150 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/orange.png" alt="">
                </div>
                <a href="fruits.png" id="link">orange</a>
                <p>80 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/mango.png" alt="">
                </div>
                <a href="fruits.png" id="link">Mango</a>
                <p>250 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/strawberry.png" alt="">
                </div>
                <a href="fruits.png" id="link">Strawberry</a>
                <p>100 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/banana.png" alt="">
                </div>
                <a href="fruits.png" id="link">Banana</a>
                <p>40 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/guava.png" alt="">
                </div>
                <a href="fruits.png" id="link">guava</a>
                <p>80 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/sweat.png" alt="">
                </div>
                <a href="fruits.png" id="link">Sweet lemon</a>
                <p>87 Rs</p>
            </div>

        </div>
</body>
</html>