
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
    <link rel="stylesheet" href="grains.css">

    
</head>

<body>
    <header>
        <div class="main">
            <h1>Grains</h1>
        </div>
    </header>
        <div class="list">
            <div class="item">
                <div class="cat">
                    <img src="img/indra.png" alt="">
                </div>
                <a href="fruits.html" id="link">Indrayani Rice</a>
                <p>70 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/ambemohar.png" alt="">
                </div>
                <a href="dairy.html" id="link">Ambemohar Rice</a>
                <p>80 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/basmati.png" alt="">
                </div>
                <a href="cerals.html" id="link">Basmati Rice</a>
                <p>100 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/wheet.png" alt="">
                </div>
                <a href="cerals.html" id="link">wheet</a>
                <p>50 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/bajari.png" alt="">
                </div>
                <a href="spices.html" id="link">Perl millet (bajara/bajari)</a>
                <p>40 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/nagali1.png" alt="">
                </div>
                <a href="grains.html" id="link">Nachani</a>
                <p>150 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/jwari.png" alt="">
                </div>
                <a href="fruits.png" id="link">Jwari /jowar</a>
                <p>80 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/quinova.png" alt="">
                </div>
                <a href="fruits.png" id="link">Quinoa</a>
                <p>100 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/oats.png" alt="">
                </div>
                <a href="fruits.png" id="link">Oats</a>
                <p>50 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/barley.png" alt="">
                </div>
                <a href="fruits.png" id="link">Barley</a>
                <p>180 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/sharbati.png" alt="">
                </div>
                <a href="fruits.png" id="link">sharbati wheet</a>
                <p>100 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/brown-rice.png" alt="">
                </div>
                <a href="fruits.png" id="link">Brown rice</a>
                <p>300 Rs</p>
            </div>

        </div>
</body>
</html>