<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
    <link rel="stylesheet" href="fruits.css">

    <link rel="stylesheet" href="pulses.css">
</head>

<body>
    <header>
        <div class="main">
            <h1>pulses</h1>
        </div>
    </header>
        <div class="list">
            <div class="item">
                <div class="cat">
                    <img src="img/arhar.png" alt="">
                </div>
                <a href="fruits.html" id="link">Arhar dal</a>
                <p>200 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/chana.png" alt="">
                </div>
                <a href="dairy.html" id="link">Chana dal</a>
                <p>150 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/massor.png" alt="">
                </div>
                <a href="cerals.html" id="link">Masoor dal</a>
                <p>150 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/mung.png" alt="">
                </div>
                <a href="cerals.html" id="link">Mung dal</a>
                <p>100 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/rajama.png" alt="">
                </div>
                <a href="spices.html" id="link">Rajama</a>
                <p>50 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/black.png" alt="">
                </div>
                <a href="grains.html" id="link">Black chana</a>
                <p>100 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/kabuli.png" alt="">
                </div>
                <a href="fruits.png" id="link">kabuli chana</a>
                <p>80 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/urad.png" alt="">
                </div>
                <a href="fruits.png" id="link">Urad dal</a>
                <p>150 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/tur.png" alt="">
                </div>
                <a href="fruits.png" id="link">Tur dal</a>
                <p>180 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/soya.png" alt="">
                </div>
                <a href="fruits.png" id="link">Soya bean</a>
                <p>200 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/sweet-corn.png" alt="">
                </div>
                <a href="fruits.png" id="link">Sweet corn</a>
                <p>45 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/mataki.png" alt="">
                </div>
                <a href="fruits.png" id="link">Mataki</a>
                <p>150 Rs</p>
            </div>

        </div>
</body>
</html>