<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/shop.css">
</head>

<body>
    <header>
        <div class="header">
            <h1>Welcome to our shop</h1>
            <h5>Choose what you want</h5>
            <i class="fa-solid fa-store" id="shop"></i>
        </div>
    </header>
    <div class="list">
        <div class="item">
            <div class="cat">
                <img src="img/fruit.png" alt="">
            </div>
            <a href="fruits.html" id="link">Fruits</a>
        </div>
        <div class="item">
            <div class="cat">
                <img src="img/dairy.png" alt="">
            </div>
            <a href="/dairy" id="link">Dairy Products</a>
        </div>
        <div class="item">
            <div class="cat">
                <img src="img/vrg.png" alt="">
            </div>
            <a href="vegetable.html" id="link">Vegetables</a>
        </div>
        <div class="item">
            <div class="cat">
                <img src="img/cerals.png" alt="">
            </div>
            <a href="pulses.html" id="link">Pulses</a>
        </div>
        <div class="item">
            <div class="cat">
                <img src="img/spices.png" alt="">
            </div>
            <a href="spices.html" id="link">Spices</a>
        </div>
        <div class="item">
            <div class="cat">
                <img src="img/grains.jpg" alt="">
            </div>
            <a href="grains.html" id="link">Grains</a>
        </div>
    </div>
</body>

</html>