<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
    <link rel="stylesheet" href="spices.css">

    
</head>

<body>
    <header>
        <div class="main">
            <h1>Spices</h1>
        </div>
    </header>
        <div class="list">
            <div class="item">
                <div class="cat">
                    <img src="img/black-pepper.png" alt="">
                </div>
                <a href="fruits.html" id="link">Black Pepper</a>
                <p>50 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/turmeric.png" alt="">
                </div>
                <a href="dairy.html" id="link">Turmeric</a>
                <p>100 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/cinnomon.png" alt="">
                </div>
                <a href="cerals.html" id="link">Cinnamon</a>
                <p>70 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/garlic.png" alt="">
                </div>
                <a href="cerals.html" id="link">Garlic</a>
                <p>70 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/ginger.png" alt="">
                </div>
                <a href="spices.html" id="link">Ginger</a>
                <p>80 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/black.png" alt="">
                </div>
                <a href="grains.html" id="link">Black chana</a>
                <p>30 RS</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/cumin.png" alt="">
                </div>
                <a href="fruits.png" id="link">Cumin</a>
                <p>50 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/cardimon.png" alt="">
                </div>
                <a href="fruits.png" id="link">cardamom</a>
                <p>200 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/tur.png" alt="">
                </div>
                <a href="fruits.png" id="link">Tur dal</a>
                <p>150 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/soya.png" alt="">
                </div>
                <a href="fruits.png" id="link">Soya bean</a>
                <p>100 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/sweet-corn.png" alt="">
                </div>
                <a href="fruits.png" id="link">Sweet corn</a>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/mataki.png" alt="">
                </div>
                <a href="fruits.png" id="link">Mataki</a>
            </div>

        </div>
</body>
</html>