<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
    <link rel="stylesheet" href="vegetable.css">
</head>

<body>
    <header>
        <div class="main">
            <h1>Vegetables</h1>
        </div>
    </header>
        <div class="list">
            <div class="item">
                <div class="cat">
                    <img src="img/tomato.png" alt="">
                </div>
                <a href="fruits.html" id="link">Tomato</a>
                <p>40 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/potato.png" alt="">
                </div>
                <a href="dairy.html" id="link">Potato</a>
                <p>18 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/onion.png" alt="">
                </div>
                <a href="cerals.html" id="link">Onion</a>
                <p>20 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/peas.png" alt="">
                </div>
                <a href="cerals.html" id="link">Green Peas</a>
                <p>100 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/palak.png" alt="">
                </div>
                <a href="spices.html" id="link">Palak</a>
                <p>40 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/methy.png" alt="">
                </div>
                <a href="grains.html" id="link">Methi</a>
                <p>70 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/cabage.png" alt="">
                </div>
                <a href="fruits.png" id="link">Cabbage</a>
                <p>8 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/carot.png" alt="">
                </div>
                <a href="fruits.png" id="link">Carot</a>
                <p>50 Rs</p>
                <p></p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/brinjal.png" alt="">
                </div>
                <a href="fruits.png" id="link">Brinjal</a>
                <p>40 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/chili.png" alt="">
                </div>
                <a href="fruits.png" id="link">Green Chilli</a>
                <p>100 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/capsicum.png" alt="">
                </div>
                <a href="fruits.png" id="link">Capsicum</a>
                <p>80 Rs</p>
            </div>
            <div class="item">
                <div class="cat">
                    <img src="img/brrt.png" alt="">
                </div>
                <a href="fruits.png" id="link">Beet</a>
                <p>100 Rs</p>
            </div>
        </div>
</body>
</html>