*{
    padding: 0;
    margin: 0;
}
.main{
    color:rgb(114, 178, 200);
    background-color:rgb(8, 49, 49);
    position: sticky;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.main h1{
    font-weight: 800;
    font-size: 40px;
}
.list{
    width: 100%;
    
    border-radius: 4px;
    /* text-align: center; */
    height: 300px;
    margin-right: 40px;
    /* padding: 25px 10px 25px 10px; */
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    left: 0;
}
.list .item{
    /* text-align: center; */
    height: 300px;
    width: 300px;
    /* background-color: aqua; */
    padding: 40px 40px;
    text-align: center;
    /* box-shadow: 0 0 0 0.4; */
    margin: 30px;
    /* border: 2px solid black; */
    background: 4px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    

}
.item p{
    font-weight: 200;
    color: rgb(58, 43, 70);
    padding: 1px;
    font-size: 21px;
    font-weight: 900;

}

.list .cat{
    height: 280px;
    text-align: center;
    width: 280px;
    background-size: cover;
    border-radius: 4px;
    /* padding: 10px 5px; */
    padding: 10px 10px px 10px;
    margin-bottom: 1px;
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

    
    
    /* border: 4px solid red; */
    
   
}

.list .item:hover{
    box-shadow: 10px 10px 54px rgba(8, 6, 40, 0.2);
    transition: 0.2s;
    cursor: pointer;
}
.list img{
    height:250px;
    width: 250px;
}   
#link{
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    color:rgb(2, 41, 113);
    padding-top: 1px;
    /* padding-bottom: 100px; */
    padding: 1px;
    margin-top: 1px;
    /* margin-top: 10px; */
}
#link:hover{
    color:rgb(139, 104, 172)
}
