*{
    padding: 0;
    margin: 0;
}
.header{
    height: 130px;
    width: 100%;
    background-color:rgb(2, 2, 39);
    padding:10px 0 ;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    
}
.header h1{
    color:#c9d6ed;
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
    font-weight: 800;

}
.header h5{
    color: #fff;
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    padding-bottom: 15px;
    font-weight: 500;
}
.header #shop{
    color: #E3E6F3;
    font-weight: 800;
    /* align-items: center; */
    top: 20%;
    bottom: 50%;
    font-weight:900;
    right: 20px;
    padding: 25px 30px;
    font-size:40px;
    position: absolute;
    /* padding: 20px 40px 20px 40px; */
}
.list{
    width: 100%;
    
    border-radius: 4px;
    /* text-align: center; */
    height: 350px;
    margin-right: 40px;
    /* padding: 25px 10px 25px 10px; */
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    left: 0;
}
.list .item{
    /* text-align: center; */
    height: 350px;
    width: 350px;
    /* background-color: aqua; */
    padding: 40px 40px;
    text-align: center;
    /* box-shadow: 0 0 0 0.4; */
    margin: 30px;
    /* border: 2px solid black; */
    background: 4px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    

}

.list .cat{
    height: 300px;
    text-align: center;
    width: 300px;
    background-size: cover;
    border-radius: 4px;
    /* padding: 10px 5px; */
    padding: 15px 20px 10px 20px;
    margin-bottom: 10px;
    /* border:2px solid red; */
    
    /* border: 4px solid red; */
    
   
}

.list .item:hover{
    box-shadow: 10px 10px 54px rgba(8, 6, 40, 0.2);
    transition: 0.2s;
    cursor: pointer;
}
.list img{
    height:290px;
    width: 290px;
}   
#link{
    text-decoration: none;
    font-size: 22px;
    font-weight: 800;
    color: darkcyan;
    bottom: 10px;
    /* margin-top: 10px; */
}
#link:hover{
    color:rgb(125, 92, 155)
}
